@tailwind base;
@tailwind components;
@tailwind utilities;


.backg {
     background-color: #FEE140;
     background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
     
   }

          
   .btn-grad {
     background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
     /* margin: 10px; */
     padding: 15px 45px;

     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;            
     box-shadow: 0 0 20px #eee;
     border-radius: 10px;
     display: block;
   }

   .btn-grad:hover {
     background-position: right center; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
   }

            
   .btn-gradi {
    background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
    /* margin: 10px; */
    padding: 10px 20px;

    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-gradi:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
  }


           
  .btn-gradii {
    background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
    /* margin: 10px; */
    padding: 10px 20px;

    text-align: center;
    /* text-transform: uppercase; */
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-gradii:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
  



   .grad {
     background-image: linear-gradient(120deg, #FFA500, #ff7300); /* Orange gradient */
     -webkit-background-clip: text;
     background-clip: text;
     color: transparent;
   }
   
